//- load content into the layout
extends layouts/_layout
//- define the block of content to be placed in the extend
block content
    //- Add your site or application content here
    +link('/foo', 'foo')(class="btn")
    .wrap
        h1.hero-title
            a(href="https://twitter.com/magicspon") "colder darker jumper drunker"
    p.hero-copy Cooking websites 
        a(href="http://www.ournameismud.co.uk") Mud
    p.hero-copy Ruining music 
        a(href="http://soundcloud.com/idiotcomposer") Idiot Composer
    p.hero-copy and 
        a(href="https://twitter.com/magicspon") Here
