head
	meta(charset='utf-8')
	title Code &amp; Joke
	meta(name='description', content='This website has two legs')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(property="og:title" content="Code &amp; Joke")
	meta(property="og:site_name" content="Code &amp; Joke")
	meta(property="og:image" content="http://www.codeandjoke.com/_assets/images/logo-fb.png")
	link(rel='stylesheet', href='/_assets/css/style.css')
	script(src='/_assets/js/libs/modernizr.2.8.3.js')